
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.borde {
    border: 1px solid red;
}

.borde1 {
    border: 1px solid rgb(23, 190, 37);
}

.jumbotron{
    background-color: rgb(211, 228, 243);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

/* .micard {
    border: 1px solid rgb(149, 150, 151);
    border-radius: 15px;
   
    max-width: 325px; /*20%;*/
 */

.ancho {
    width: 100%;
}

.boton{
    margin: 10px;
    align-items: center;
}